{% extends "admin/base.html" %}
{% load static %}

{% block sidebar %}
<aside class="main-sidebar elevation-4 sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="/admin/" class="brand-link">
        <img src="{% static 'vendor/adminlte/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Panel administración</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <i class="fas fa-inverse user-profile fa-user-circle"></i>
            </div>
            <div class="info">
                <a href="/admin/auth/user/1/change/" class="d-block">{{ user.get_username }}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2" aria-label="Sidebar Navigation">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" id="dashboard-menu">
                    <a href="/admin/" class="nav-link">
                        <i class="nav-icon fas fa-th-large"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item has-treeview" id="admin-menu">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Administración
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"><a href="/admin/sistemaApp/accione/" class="nav-link"><i class="nav-icon fas fa-tasks"></i><p>Acciones</p></a></li>
                        {% if user.is_superuser %}
                        <li class="nav-item"><a href="/admin/auth/group/" class="nav-link"><i class="nav-icon fas fa-users"></i><p>Groups</p></a></li>
                        <li class="nav-item"><a href="/admin/auth/user/" class="nav-link"><i class="nav-icon fas fa-user"></i><p>Users</p></a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item has-treeview" id="inventory-menu">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-warehouse"></i>
                        <p>
                            Inventario
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"><a href="/admin/sistemaApp/articulo/" class="nav-link"><i class="nav-icon fas fa-box"></i><p>Artículos</p></a></li>
                        <li class="nav-item"><a href="/admin/sistemaApp/categoria/" class="nav-link"><i class="nav-icon fas fa-tags"></i><p>Categorías</p></a></li>
                        <li class="nav-item"><a href="/admin/sistemaApp/subcategoria/" class="nav-link"><i class="nav-icon fas fa-tag"></i><p>Sub categorías</p></a></li>
                        <li class="nav-item"><a href="/admin/sistemaApp/marca/" class="nav-link"><i class="nav-icon fas fa-trademark"></i><p>Marcas</p></a></li>
                        <li class="nav-item"><a href="/admin/sistemaApp/unidadmedida/" class="nav-link"><i class="nav-icon fas fa-ruler"></i><p>Unidad medidas</p></a></li>
                    </ul>
                </li>
                <li class="nav-item has-treeview" id="purchases-menu">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Compras
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"><a href="/admin/sistemaApp/ordencompra/" class="nav-link"><i class="nav-icon fas fa-shopping-cart"></i><p>Orden compras</p></a></li>
                        <li class="nav-item"><a href="/admin/sistemaApp/estadoordencompra/" class="nav-link"><i class="nav-icon fas fa-clipboard-check"></i><p>Estado orden compras</p></a></li>
                        <li class="nav-item"><a href="/admin/sistemaApp/proveedor/" class="nav-link"><i class="nav-icon fas fa-truck"></i><p>Proveedores</p></a></li>
                    </ul>
                </li>
                <li class="nav-item has-treeview" id="sales-menu">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-receipt"></i>
                        <p>
                            Ventas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"><a href="/admin/sistemaApp/ordenventa/" class="nav-link"><i class="nav-icon fas fa-receipt"></i><p>Orden ventas</p></a></li>
                        <li class="nav-item"><a href="/admin/sistemaApp/mediopago/" class="nav-link"><i class="nav-icon fas fa-credit-card"></i><p>Medio pagos</p></a></li>
                    </ul>
                </li>
                <li class="nav-item has-treeview" id="analysis-menu">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Análisis
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item"><a href="/admin/sistemaApp/demandahistorica/" class="nav-link"><i class="nav-icon fas fa-chart-line"></i><p>Demanda historicas</p></a></li>
                        <li class="nav-item"><a href="/admin/sistemaApp/modeloinventario/" class="nav-link"><i class="nav-icon fas fa-cubes"></i><p>Modelo inventarios</p></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style>
        /* Estilos para mover el dropdown más a la izquierda */
        .nav .nav-treeview {
            padding-left: 10px; /* Ajusta este valor según sea necesario */
        }

        /* Estilos para diferenciar los ítems del menú */
        .nav .nav-treeview .nav-item .nav-link {
            font-size: 14px; /* Tamaño de fuente más pequeño para los ítems secundarios */
            color: #c2c7d0; /* Color más claro para los ítems secundarios */
        }

        .nav .nav-treeview .nav-item .nav-link i {
            margin-right: 8px; /* Espacio entre el ícono y el texto */
        }

        /* Estilo para resaltar el ítem activo */
        .nav .nav-treeview .nav-item .nav-link.active {
            color: #ffffff; /* Color blanco para el ítem activo */
            font-weight: bold; /* Texto en negrita para el ítem activo */
            background-color: #343a40; /* Fondo oscuro para el ítem activo */
            border-left: 3px solid #007bff; /* Borde izquierdo azul para el ítem activo */
        }
    </style>
{% endblock %}