{% extends "admin/base_site.html" %}
{% load static %}


{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% if modelo_inventario_seleccionado == 'Modelo Lote Fijo' %}
                    <h1>Modelo Lote Fijo</h1>
                {% else %}
                    <h1>Modelo Intervalo Fijo</h1>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" name="submit_form" class="btn btn-success">Calcular</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Boton para volver -->
    <div class="mt-4">
        <a href="/admin/sistemaApp/accione/" class="btn btn-primary">Volver</a>
    </div>
</div>

{% endblock %}
