{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Metodos Prediccion Demanda</h1>
                <div class="btn-group mb-3" role="group">
                    <form method="post" style="display: inline-block; margin-right: 10px;">
                        {% csrf_token %}
                        <input type="submit" name="Boton1" value="Promedio Movil" class="btn {% if formulario_seleccionado == 'PromedioMovil' %}btn-primary active{% else %}btn-secondary{% endif %}">
                    </form>
                    
                    <form method="post" style="display: inline-block; margin-right: 10px;">
                        {% csrf_token %}
                        <input type="submit" name="Boton2" value="Promedio Movil Ponderado" class="btn {% if formulario_seleccionado == 'PromedioMovilPonderado' %}btn-primary active{% else %}btn-secondary{% endif %}">
                    </form>
                    
                    <form method="post" style="display: inline-block; margin-right: 10px;">
                        {% csrf_token %}
                        <input type="submit" name="Boton3" value="Suavizacion Exponencial" class="btn {% if formulario_seleccionado == 'SuavizacionExponencial' %}btn-primary active{% else %}btn-secondary{% endif %}">
                    </form>
                    
                </div>
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if formulario_seleccionado == 'PromedioMovilPonderado' and periodos %}
                                {% for i in "123456789"|slice:periodos %}
                                    <div class="form-group">
                                        <label for="id_ponderacion_{{ forloop.counter }}">Ponderación {{ forloop.counter }}</label>
                                        <input type="number" name="ponderacion_{{ forloop.counter }}" step="0.01" class="form-control" id="id_ponderacion_{{ forloop.counter }}">
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <button type="submit" name="submit_form" class="btn btn-success">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Boton para volver -->
    <div class="mt-4">
        <a href="/admin/sistemaApp/accione/" class="btn btn-primary">Volver</a>
    </div>  
</div>
{% endblock %}
