{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="content">
  <div class="container-fluid">
    <section id="content" class="content">

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body table-responsive p-0">
              <table id="result_list" class="table table-striped">
                <thead>
                  <tr>
                    <th class="djn-checkbox-select-all" tabindex="0" rowspan="1" colspan="1">
                      <div class="text">
                        <span><input type="checkbox" id="action-toggle" aria-label="Select all objects on this page for an action"></span>
                      </div>
                    </th>
                    <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1">
                      <div class="text">
                        <a href="?o=-1">ID</a>
                      </div>
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                      <div class="text">
                        <a href="?o=2.1">Nombre del Artículo</a>
                      </div>
                    </th>
                    <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                      <div class="text">
                        <a href="?o=3.1">Stock Actual</a>
                      </div>
                    </th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for articulo in articulos %}
                    <tr>
                      <td class="action-checkbox">
                        <input type="checkbox" name="_selected_action" value="{{ articulo.id }}" class="action-select" aria-label="Select this object for an action">
                      </td>
                      <td>{{ articulo.id }}</td>
                      <td>{{ articulo.nombreArticulo }}</td>
                      <td>{{ articulo.stockActual }}</td>
                      <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'sistemaApp:crear_orden_compra' articulo.id %}">Crear Orden de Compra</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
{% endblock %}
