{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Resultados de Prediccion Demanda</h1>
                <p>Mes a Predecir Demanda: {{ mes_a_predecir }}</p>
                <p>Demanda Real: {{ demanda_real_proxima }} </p>
                <p>Demanda Predecida: {{ demanda_predecida }}</p>
                <p>Error Calculado: {{ error_calculado }}</p>
                <p>Error Aceptable: {{ error_aceptable }}</p>
                <p>Cuanto representa el error con respecto al real: {{ diferencia_real_pronostico }}</p>
                <p>Decision: {{ decision }}</p>
            </div>
        </div>
    </div>
    <!-- Boton para volver -->
    <div class="mt-4">
        <a href="/admin/sistemaApp/accione/" class="btn btn-primary">Volver</a>
    </div>
</div>
{% endblock %}
