{% extends "admin/base_site.html" %}
{% load static %}

{% block sidebar %}
<aside class="main-sidebar elevation-4 sidebar-dark-primary">
    <!-- Brand Logo -->
    <a href="/admin/" class="brand-link">
        <img src="{% static 'vendor/adminlte/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Django administration</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <i class="fas fa-inverse user-profile fa-user-circle"></i>
            </div>
            <div class="info">
                <a href="/admin/auth/user/1/change/" class="d-block">admin</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/admin/" class="nav-link">
                        <i class="nav-icon fas fa-th-large"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                {% for app in admin_app_list %}
                    <li class="nav-header">{{ app.name }}</li>
                    {% for model in app.models %}
                        <li class="nav-item">
                            <a href="{{ model.url }}" class="nav-link">
                                <i class="nav-icon fas fa-circle"></i> <p>{{ model.name }}</p>
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Resultados de Prediccion Demanda</h1>
                <p>Demanda Predecida: {{ demanda_predecida }}</p>
                <p>Error Calculado: {{ error_calculado }}</p>
                <p>Error Aceptable: {{ error_aceptable }}</p>
                <p>Cuanto representa el error con respecto al real: {{ diferencia_real_pronostico }}</p>
                <p>Decision: {{ decision }}</p>
            </div>
        </div>
    </div>
    <!-- Boton para volver -->
    <div class="mt-4">
        <a href="/admin/sistemaApp/accione/" class="btn btn-primary">Volver</a>
    </div>
</div>
{% endblock %}
